Projekt5/shdbunitdemo/src/test/resources/dataset.dtd

<!ELEMENT dataset (
    CAR*,
    PERSON*,
    PERSON_CAR*)>

<!ELEMENT CAR EMPTY>
<!ATTLIST CAR
    ID CDATA #REQUIRED
    MAKE CDATA #IMPLIED
    MODEL CDATA #IMPLIED
    YEAR CDATA #IMPLIED
    SOLD CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    FIRSTNAME CDATA #IMPLIED
    SURNAME CDATA #IMPLIED
    PESEL CDATA #REQUIRED
    REGISTRATIONDATE CDATA #IMPLIED
>

<!ELEMENT PERSON_CAR EMPTY>
<!ATTLIST PERSON_CAR
    CARS_ID CDATA #REQUIRED
    PERSON_ID CDATA #REQUIRED
>

